{{> hbs/templates/default }}

<div class="intro-ct">
    <div class="video-ct">
        <video id="video-intro" video autoplay loop muted playsinline>
            <source id="mp4" src="assets/video/intro.mp4" type="video/mp4">
        </video>
    </div>
    <div class="intro-overlay"></div>
    <div class="intro-wrapper">
        <h1 id="intro-title" class="intro-title" data-text="YOLISTLI">YOLISTLI</h1>
        <button id="intro-button" class="action-button animate yolistli">ENTRAR</button>
    </div>

</div>
